.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

header.banner {
  background: $blue;
  color: $white;

  .logo {
    img {
      height: 80px;
      width: auto;
    }

    h1 {
      margin: 0;
    }
  }
}
